@model IEnumerable<Category>

<h3>Kategorie i tematy</h3>
<br />

<div>
    <a class="btn btn-success" asp-action="AddCategory">Add category</a>
</div>

<br />

<table class="table table-hover table-striped">
    <tr>
        <th>Category</th>
        <th>Topic</th>
        <th width="20%"></th>

    </tr>


    @foreach (var category in Model)
    {
        int count = category.Topics.ToList().Count + 1;
        <tr>
            <td rowspan="@count">@category.Name</td>
            <td></td>
            <td>
                <a class="btn btn-success" asp-action="AddTopic" asp-route-categoryId="@category.Id"><span class="ui-icon ui-icon-plusthick"></span></a>
                <a class="btn btn-info" asp-action="EditCategory" asp-route-categoryId="@category.Id"><span class="ui-icon ui-icon-pencil"></span></a>
                @if (!category.Topics.Any())
                {
                    <form style="display: inline;" asp-action="DeleteCategory" method="post">
                        <input type="hidden" name="categoryId" value="@category.Id"/>
                        <button type="submit" class="btn btn-danger"><span class="ui-icon ui-icon-trash"></span></button>
                    </form>
                }
                else
                {
                    <button class="btn btn-secondary"><span class="ui-icon ui-icon-trash"></span></button>
                }
            </td>

        </tr>
        foreach (var topic in category.Topics)
        {
            <tr>

                <td>@topic.Name</td>
                <td>
                    <a class="btn btn-info" asp-action="EditTopic" asp-route-topicId="@topic.Id" asp-route-categoryId="@category.Id"><span class="ui-icon ui-icon-pencil"></span></a>
                    <form style="display: inline;" asp-action="DeleteTopic" method="post">
                        <input type="hidden" name="topicId" value="@topic.Id" />
                        <input type="hidden" name="categoryId" value="@category.Id" />
                        <button type="submit" class="btn btn-danger"><span class="ui-icon ui-icon-trash"></span></button>
                    </form>
                </td>

            </tr>
        }

    }

</table>



